body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:white;
    margin: 0;
    padding: 20px;
}


button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

input {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#meaning{
   padding: 5px;
}


#heading{
    font-size: 50px;
}

#def{
    background-color: aliceblue;
    padding: 3px;
    margin: 5px;
    border-radius: 10px;
}

#ph{
    font-size: small;
    color: gray;
}